<mat-card class="main-card">
  <mat-card-title>СПРАВКИ</mat-card-title>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Електронни рецепти">
      <app-references-card-e-recipes-form (referenceDatesRecipe)="submitRecipeForm($event)"></app-references-card-e-recipes-form>
      <app-references-card-e-recipes-table [dataSource]="(recipeDataSource | async)"></app-references-card-e-recipes-table>
    </mat-tab>
    <mat-tab label="Направления">
      <app-references-card-referrals-form (referenceDatesReferral)="submitReferralForm($event)"></app-references-card-referrals-form>
      <app-references-card-referrals-table [dataSource]="(referralDataSource | async)"></app-references-card-referrals-table>
    </mat-tab>
  </mat-tab-group>
</mat-card>
