body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card{
  width: 90vw;
  height: 90vh;
  background: linear-gradient(119.23deg, rgba(255, 255, 255, 0.7) 16.98%, rgba(255, 255, 255, 0.1) 92.15%);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 40px rgba(37, 69, 131, 0.2);
  border-radius: 20px;
}

mat-card-title {
  text-align: center;
}

body {
  background: #BAECF2;

}


