.patient-card, .doctor-card {
  width: 40vw;
}

.info-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 13rem;
}

mat-card:first-child {
  margin-right: 20px;
}

p {
  text-align: center;
}


