.form {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

p {
  margin-right: 20px;
}

mat-card-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
  padding-bottom: 35px;
}

mat-form-field {
  margin-right: 20px;
}

div {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  margin-right: 10px;
}



