mat-card {
  background: linear-gradient(90.89deg, rgba(255, 255, 255, 0.7) 19.49%, rgba(255, 255, 255, 0.1) 72.8%);
  box-shadow: 0px 20px 40px rgba(37, 69, 131, 0.2);
  border-radius: 20px;
  padding: 0;
  height: 13rem;
  margin-top: 30px;
}

mat-card-header {
  background: #d7edea;
  border: 1px solid #d7edea;
  border-radius: 20px 20px 0px 0px;
  padding: 5px 0 5px 0;
  color: dimgrey;
}

mat-card-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 40px;
}

mat-form-field {
  margin-right: 20px;
}
