mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 410px;
  height: 500px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: dimgrey;
}

.title:last-child {
  height: 59px;
  font-style: normal;
  color: #313048;
}

mat-form-field {
  width: 26rem;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  align-content: center;
}

.col:first-child {
  font-size: 20px;
}

.mat-raised-button {
  font-size: 14px;
  background: linear-gradient(#ace5de, #ace5de) padding-box,
  linear-gradient(to left, #aae8ef, #ace5de) border-box;
  border-radius: 2em;
  border: 2px solid transparent;
  box-sizing: border-box;
  width: 270px;
  height: 40px;
  gap: 132px;
}


.mat-raised-button:hover {
  background: linear-gradient(#77d5cb, #77d5cb) padding-box,
  linear-gradient(to left, #aae8ef, #77d5cb) border-box;
}








