mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  margin-left: 40px;
  padding-bottom: 20px;
}

mat-form-field {
  width: 26rem;
  border-radius: 2em;
  margin-bottom: 5px;
  margin-right: 20px;
}

mat-form-field:first-child {
  margin-top: 30px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.icon-button {
  background: #313048;
  padding: 0 !important;
  width: 3rem;
}

.actions {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-top: 20px;
  margin-right: 10px;
}
