mat-card {
  width: 93%;
  margin: 20px auto;
  min-height: 500px;
}

img {
  width: 100px;
  margin-left: 30px;
}

.user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
 padding-top: 30px;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 30px;
}

h1 {
  margin-left: 30px;
  margin-top: 20px;
}
