<mat-card>
  <mat-card-header>Смяна на парола</mat-card-header>
  <div class="actions" [hidden]="editMode === true">
    <button class="edit-button" (click)="edit()">Активирай редакция</button>
  </div>
  <mat-card-content>
    <form [formGroup]="passwordFormGroup">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Парола</mat-label>
          <input matInput type="password" [readonly]="!editMode" [(ngModel)]="newPassword"
                 formControlName="newPassword">
          <mat-error *ngIf="passwordFormGroup.controls['newPassword'].hasError('required')">*Задължително поле
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Потвърди парола</mat-label>
          <input matInput type="password" [readonly]="!editMode" [(ngModel)]="confirmPassword"
                 formControlName="confirmPassword">
          <mat-error *ngIf="passwordFormGroup.controls['confirmPassword'].hasError('required')">*Задължително поле
          </mat-error>
          <mat-error *ngIf="passwordFormGroup.controls['confirmPassword'].hasError('matching')">*Паролите не съвпадат</mat-error>
        </mat-form-field>
      </div>
    </form>
    <button class="form-button" *ngIf="editMode === true" [hidden]="isSaved === true"
            (click)="saveInfo(user.id, newPassword)" [disabled]="passwordFormGroup.invalid">Запази
    </button>
  </mat-card-content>
</mat-card>
