<mat-card>
  <mat-card-header>Данни за потребителя</mat-card-header>
  <div class="actions" [hidden]="editMode === true">
    <button class="edit-button" (click)="edit()">Активирай редакция</button>
  </div>
  <mat-card-content>
    <form [formGroup]="editFormGroup">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Потребителско име</mat-label>
          <input matInput [readonly]="!editMode" [(ngModel)]="user.username" formControlName="username">
          <mat-error *ngIf="editFormGroup.controls['username'].hasError('required')">*Задължително поле</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Имейл адрес</mat-label>
          <input matInput [readonly]="!editMode" [(ngModel)]="user.email" formControlName="email">
          <mat-error *ngIf="editFormGroup.controls['email'].hasError('required')">*Задължително поле</mat-error>
          <mat-error *ngIf="editFormGroup.controls['email'].hasError('email')">*Въведете валиден имейл адрес</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Парола</mat-label>
          <input matInput type="password" [readonly]="!editMode" [(ngModel)]="user.password" formControlName="password">
          <mat-error *ngIf="editFormGroup.controls['password'].hasError('required')">*Задължително поле</mat-error>
        </mat-form-field>
      </div>
    </form>
    <button class="form-button" *ngIf="editMode === true" [hidden]="isSaved === true"
            (click)="saveInfo(user.id)" [disabled]="editFormGroup.invalid">Запази
    </button>
  </mat-card-content>
</mat-card>
