<mat-card class="main-card">
  <mat-card-content>
    <div class="container">
    <div class="row">
      <div class="col">
        <mat-card class="card-1">
          <mat-card-content>
            <mat-card class="inside-card">
              <mat-icon>description</mat-icon>
            </mat-card>
          </mat-card-content>
          <mat-card-footer>
            <p>АМБУЛАТОРНИ ЛИСТОВЕ</p>
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="card-1">
          <mat-card-content>
            <mat-card class="inside-card">
              <mat-icon>monitor_heart</mat-icon>
            </mat-card>
          </mat-card-content>
          <mat-card-footer>
            <p>Е-РЕЦЕПТИ</p>
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="card-1">
          <mat-card-content>
            <mat-card class="inside-card">
              <mat-icon>edit_document</mat-icon>
            </mat-card>
          </mat-card-content>
          <mat-card-footer>
            <p>НАПРАВЛЕНИЯ</p>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
    </div>
  </mat-card-content>
</mat-card>
