
* {
  font-family: Sofia-Sans, serif;
  font-size: 14px;
}

@font-face {
  font-family: 'Sofia-Sans';
  src: url("assets/fonts/SofiaSansCond-Regular.otf");

}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #c0e7e2;
}

body {
  margin: 0;
}

.snackbar-error {
  background: #b00020;
  color: white;
}

.snackbar-success {
  background: #e1f5f7;
  color:black;
}

.mat-snack-bar-container {
  text-align: center;
}

.mat-simple-snackbar {
  display: inline-block !important;
}

.no-wrapper {
  margin-bottom: -1.25em !important;
}

.error {
  font-size: 100%;
  margin-top: 0 !important;
  top: calc(100% - 1.7916666667em);
}

