* {
  font-family: Sofia-Sans, serif;
  font-size: 14px;
}

@font-face {
  font-family: 'Sofia-Sans';
  src: url("assets/fonts/SofiaSansCond-Regular.otf");

}

html, body {
  background: #c0e7e2;
}

body {
  margin: 0;
}

.snackbar-error {
  background: #b00020;
  color: white;
}

.snackbar-success {
  background: lightgreen;
  color:black;
}

.mat-snack-bar-container {
  text-align: center;
}

.mat-simple-snackbar {
  display: inline-block !important;
}

.no-wrapper {
  margin-bottom: -1.25em !important;
}

.error {
  font-size: 100%;
  margin-top: 0 !important;
  top: calc(100% - 1.7916666667em);
}

.mat-card {
  width: 93%;
  background: linear-gradient(119.23deg, rgba(255, 255, 255, 0.7) 16.98%, rgba(255, 255, 255, 0.1) 92.15%);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 40px rgba(37, 69, 131, 0.2);
  border-radius: 20px !important;
  padding: 0;
  margin: 20px auto;
}

.main-card {
  min-height: 90vh !important;
}
