.table-card {
  margin-top: 50px;
  width: 87vw;
}

mat-card-content {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

mat-paginator {
  margin-top: 30px;
  background: transparent;
}


