.table-card {
  background: linear-gradient(90.89deg, rgba(255, 255, 255, 0.7) 19.49%, rgba(255, 255, 255, 0.1) 72.8%);
  box-shadow: 0px 20px 40px rgba(37, 69, 131, 0.2);
  border-radius: 20px;
  margin-top: 50px;
  width: 87vw;
}

mat-card-header {
  background: #d7edea;
  border: 1px solid #d7edea;
  border-radius: 20px 20px 0px 0px;
  padding: 5px 0 5px 0;
  color: dimgrey;
}

mat-card-content {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}


mat-card {
  padding: 0;
}

table {
  background: transparent;
  width: 100%;
}

td {
  text-align: center;
}


th {
  text-align: center;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 100vw !important;
  overflow-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

th.mat-header-cell {
  text-align: center;
  border-bottom-style: none;

}

td.mat-cell{
  border-bottom-style: none;
}


mat-paginator {
  margin-top: 30px;
  background: transparent;
}



